@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Out-fit",sans-serif;
}
body{
    background: #f5f5f5;
}
a{
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    color: inherit;
}



/* -----media query----- */

@media (max-width:1200px)
{
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 14px 22px;
    }
}
